<a href="https://colab.research.google.com/github/AakashYadav6/ML/blob/main/Aakash_Session6_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Aakash Yadav

#session 6 functions

#Let's create a function (with docstring)

In [ ]:
def is_even(num):
  """
   this function returns if a given number is odd or even
   input - any valid integer
   output - odd/even
   created on -16th Nov 2022

  """
  if type(num) ==int:
    if num %2 == 0:
       return 'even'
    else:
      return "odd"
  else:
   print("please enter only integer value")

In [ ]:
#function

#while creating function it is  called parameter and while using it is called as argument
#function_name(input)
for i in range(1,11):
  x =is_even(i)
  print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

#2 point of view

In [ ]:
is_even('hello')

please enter only integer value

### Types of Arguments

- Default Argument
- Positional Argument
- Keyword Argument

In [ ]:
def power(a = 1,b =1):
  return a**b

In [ ]:
power()

1

In [ ]:
#positional argument
power(2,3)

8

In [ ]:
#keyword argument
power(b=4,a=5)

625

### `*args and **kwargs`
`*args and **kwargs` are special Python keywords that are used to pass the variable length of arguments to a function

In [ ]:
#args
#allows us to pass a variable number of non-keyword arguments to a function

def multiply(*args):
  product = 1

  for i in args:
    product =product * i

  print(args)
  return product

In [ ]:
multiply(1,2,3,4)

(1, 2, 3, 4)

24

In [ ]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [ ]:
print(is_even.__doc__)

   this function returns if a given number is odd or even
   input - any valid integer
   output - odd/even
   created on -16th Nov 2022

In [ ]:
# **kwargs
# **kwargs allows us to pass any number of keyword arguments.
# Keyword arguments mean that they contain a key-value pair, like a Python dictionary.


def display(**kwargs):
  for (key,value) in kwargs.items():
    print(key,'->',value)

In [ ]:
display(india='delhi',srilanka='colombo',nepal='kathmadu')

india -> delhi
srilanka -> colombo
nepal -> kathmadu

##### Points to remember while using `*args and **kwargs`

- order of the arguments matter(normal -> `*args` -> `**kwargs`)
- The words “args” and “kwargs” are only a convention, you can use any name of your choice